    body {
      color: #e0f7fa; /* 波のホワイト */
      font-family: Arial, sans-serif;
      margin: 2rem;
      text-align: center;
    }
    a {
      color: #f4d35e;
      text-decoration: none;
      font-weight: bold;
    }
    a:hover {
      text-decoration: underline;
    }
    .button {
      color: #01497c;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      margin-top: 1rem;
      display: inline-block;
    }
     h1 {
      color: #00d35e; /* 砂浜サンドベージュ */
    }